footer {
    display: flex;
    flex-direction: column;
    background-color: midnightblue;
    color: white;
    padding: 25px;
    text-align: center;
    margin-top: auto; /* Прижимаем футер к нижней границе контейнера */
}
