<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  
   <div class="navbar">
       <ul>
           <li>Logo</li>
           <li><a href="#">Главная</a></li>
           <li><a href="#">О нас</a></li>
           <li><a href="#"></a></li>
       </ul>
       
   </div>
      
      
   
            @RenderBody()
   
   <footer>
       
    </footer>
</body>
</html>
